[Unit]
Description=Foot Fog Button Monitor Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/StageKitPied/active_touch_file_button.py 10 /opt/StageKitPied/input/footFogButton.tmp
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target

