[Unit]
Description=Switch Touch File Button Monitor Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/StageKitPied/switch_touch_file_buttons.py 23 24
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
