[Unit]
Description=Stage Kit Pied Button Monitor Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/StageKitPied/switch_run_script_button.py 5 /opt/StageKitPied/run_skp.sh /opt/StageKitPied/kill_skp.sh
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
