[Unit]
Description=Stage Kit Pied Xbox360 Stage Kit
After=multi-user.target systemd-udev-settle.service dev-ttyUSB1.device dev-input-js0.device dev-input-js1.device dev-input-event4.device dev-input-event5.device
Requires=systemd-udev-settle.service dev-ttyUSB1.device dev-input-js0.device dev-input-js1.device dev-input-event4.device dev-input-event5.device
Before=graphical.target  # Ensures this service starts before the graphical desktop environment

[Service]
ExecStart=/opt/StageKitPied/skp
ExecStartPre=/usr/bin/udevadm settle --timeout=60
StandardOutput=append:/var/log/stagekitpied.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
